table{ width:100%; border-top : 3px solid #111; padding:20px}
.even{ font-size:15px; vertical-align:top; border-bottom:1px solid #DDD; }
.more{width:10%; border-bottom:1px solid #DDD;}
td{padding:10px}

.pagination {
  display: inline-block;
  padding:20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius:5px
}

.pagination a.active {
  background-color: #33C1B3;
  color: white;
  border-radius:5px
}

.pagination a:hover:not(.active) {background-color: #ddd;}

#faq_title.title{display:block; font-size:15px; font-family:나눔고딕; margin-left:30px;}
#faq_content.content{display:block; min-height:300px; font-size:15px; font-family:나눔고딕; margin:30px}

#notice_title.title{display:block; font-size:15px; font-family:나눔고딕; margin-left:30px;}
#notice_content.content{display:block; min-height:300px; font-size:15px; font-family:나눔고딕; margin:30px}