#tourlist-header-img {
    background-image: url('../img/tourlist-bg.jpg');
}

#tourlist-heading {
    padding-top: 90px;
    padding-bottom: 90px;
}

.search-group {
    padding-top: 30px;
}

.date-input {
    width: 20%;
    display: inline-block;
    text-align: center;
}

.destination-input {
    width: 185px;
    display: inline-block;
    text-align: center;
}

.date-colon {
    margin-left: 10px;
    margin-right: 10px;
}

.date-label {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-btn {
    margin-top: 20px;
    border-radius: 40px;
}

.search-date {
    display: inline;
}

.service-contents {
    display: inline-flex;
    max-width: 32%;
}

.item-img {
    width: 180px;
    height: 180px;
}

/* 주원이 정의한 css */ 
.insert-item {
    text-align: center;
    align-content: center;
}

.item-box {
	border: 1px solid #000;
	text-align: center;
	float: left; 
	width: 30%;
    padding: 5px;
    margin: 10px;
}

.pagination-wrap {
    display: flex;
}

.next-img {
    width: 30%;
}