#faq_title.title{display:block; font-size:15px; margin-left:30px;}
#faq_content.content{display:block; min-height:300px; font-size:15px; margin:30px}

#faq-header-img {
    background-image: url('../img/faq2-bg.jpg');
}

.pagination-wrap {
    display: flex;
}

.next-img {
    width: 30%;
}

.faq-modal {
    background-image: url('../img/faq2-bg.jpg') !important ;
}

#faq-heading{
    padding: 80px 0;
}
