#tourlist-header-img {
    background-image: url('../img/tourlist-bg.jpg');
}

#tourlist-heading {
    padding-top: 180px;
    padding-bottom: 130px;
}

.search-group {
    padding-top: 30px;
}

.date-input {
    width: 22%;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    vertical-align: middle;
    color:#212529;
    margin:10px 0;
}

.destination-input {
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size:1.2rem;
    vertical-align: middle;
    color:#212529;
    margin: 10px 0;
}

.date-colon {
    margin-left: 10px;
    margin-right: 10px;
}

.date-label {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-btn {
    margin-top: 40px;
    font-size:18px;
}

.search-date {
    display: inline;
}

.service-contents {
    display: inline-flex;
    max-width: 32%;
}

.item-img {
    width: 180px;
    height: 180px;
}

/* modal */
.item-review-modal{
    background-image: url('../img/item-review-bg.jpg') !important;
}

#item-review-heading{
    padding: 80px 0;
}

#item-review-title.title{display:block; font-size:15px; margin-left:30px;}
#item-content.content{display:block; min-height:300px; font-size:15px; margin:30px}

/* 주원이 정의한 css */
.insert-item {
    text-align: center;
    align-content: center;
}

.item-box {
	border: 1px solid #000;
	text-align: center;
	float: left;
	width: 30%;
    padding: 5px;
    margin: 10px;
}

.pagination-wrap {
    display: flex;
}

.next-img {
    width: 30%;
}

/* review */
.star-input>.input, .star-input>.input>label:hover, .star-input>.input>input:focus+label,
	.star-input>.input>input:checked+label {
	display: inline-block;
	vertical-align: middle;
	background: url('../img/grade_img.png') no-repeat;
}

.star-input {
	display: inline-block;
	white-space: nowrap;
	width: 225px;
	height: 40px;
	padding: 25px;
	line-height: 30px;
}

.star-input>.input {
	display: inline-block;
	width: 150px;
	background-size: 150px;
	height: 28px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.star-input>.input>input {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
}

star-input>.input.focus {
	outline: 1px dotted #ddd;
}

.star-input>.input>label {
	width: 30px;
	height: 0;
	padding: 28px 0 0 0;
	overflow: hidden;
	float: left;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.star-input>.input>label:hover, .star-input>.input>input:focus+label,
	.star-input>.input>input:checked+label {
	background-size: 150px;
	background-position: 0 bottom;
}

.star-input>.input>label:hover ~label{
	background-image: none;
}

.star-input>.input>label[for="p1"] {
	width: 30px;
	z-index: 5;
}

.star-input>.input>label[for="p2"] {
	width: 60px;
	z-index: 4;
}

.star-input>.input>label[for="p3"] {
	width: 90px;
	z-index: 3;
}

.star-input>.input>label[for="p4"] {
	width: 120px;
	z-index: 2;
}

.star-input>.input>label[for="p5"] {
	width: 150px;
	z-index: 1;
}

.star-input>output {
	display: inline-block;
	width: 60px;
	font-size: 18px;
	text-align: right;
	vertical-align: middle;
}
